[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/SpamDetector"]
	path = plugins/SpamDetector
	url = https://github.com/mapasculturais/plugin-SpamDetector.git
[submodule "themes/SpCultura"]
	path = themes/SpCultura
	url = https://github.com/mapasculturais/theme-SpCultura
[submodule "plugins/MetadataKeyword"]
	path = plugins/MetadataKeyword
	url = https://github.com/mapasculturais/plugin-MetadataKeyword
